<h1>Listing clients</h1>

<p><%= flash[:notice] %></p>
<table>
  <tr>
    <th>client_name</th>
    <th>roman_name</th>
    <th>tel</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.client_name %></td>
    <td><%= client.roman_name %></td>
    <td><%= client.tel %></td>
    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= form_tag create_by_csv_clients_path, multipart: true do %>
  <%= file_field_tag :csv %>
  <%= submit_tag :upload %>
<% end %>
